@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-image: url('https://images.unsplash.com/photo-1518972734183-c5b490a7c637?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position:center;
  background-size: cover;
  height: 90vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
h1{
  margin-top: 30px;
  font-size: 35px;
  font-weight: 600;
}
h2{
  font-weight: 500;
  font-size: 30px;
}
p{
  font-size: 20px;
  font-weight: 500;
}
button{
  padding: 10px 32px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #F5F5DC;
  margin:10px;
}
#save-btn{
  margin-top: 5px;
  padding: 10px 32px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #000;
  color: #fff;
  margin:10px;
}